/* Animation */
@keyframes musicplay {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.pm {
    animation: musicplay 4s infinite linear;
}
@keyframes lineboxin {
    0% {
        opacity: 0;
        filter: brightness(1);
    }
    20% {
        opacity: 1;
        filter: brightness(1.5);
    }
    100% {
        opacity: 0;
        bottom: 5%;
        filter: brightness(1);
    }
}
.lbi {
    animation: lineboxin 2s infinite ease-in-out;
}
@keyframes pushevent {
    0% {opacity: 0 ; transform: translateY(45%);}
    100% {opacity: 1;transform: translateY(0%);}
}
.pe1 {
    animation: pushevent 1s ease 0s both;
}
.pe2 {
    animation: pushevent 1s ease 0.25s both;
}
.pe3 {
    animation: pushevent 1s ease 0.5s both;
}
.pe4 {
    animation: pushevent 1s ease 0.75s both;
}
.pp {
    animation: pushevent 0.5s ease 1s both;
}
@keyframes pusheventmobile {
    0% {width: 0;}
    100% {width: 20%;}
}
.pem1 {
    animation: pusheventmobile 1s ease 0s both;
}
.pem2 {
    animation: pusheventmobile 1s ease 0.25s both;
}
.pem3 {
    animation: pusheventmobile 1s ease 0.5s both;
}
.pem4 {
    animation: pusheventmobile 1s ease 0.75s both;
}
@keyframes rot {
    0% {transform: rotate(0);}
    100%{transform: rotate(360deg);}
}
.rl {
    animation: rot 20s linear infinite;
}

@keyframes facein {
    0% {opacity: 0 ; transform: translateY(4.5%);}
    100% {opacity: 1;transform: translateY(0%);}
}

.fei {
    animation: facein 1s ease 0.5s both;
}

/* Slider IMG */
  @keyframes imgin {
   0% {clip: rect(0, 100vw, 0px, 0px);}
   100% {clip: rect(0, 100vw, 1080px, 0px);}
}

.imgin {
    animation: imgin 1s ease-in-out 0s both;
}

  @keyframes imgout {
    0% {clip: rect(0, 100vw, 1080px, 0px);}
    100% {clip: rect(0, 100vw, 0px, 0px);}
}

.imgout {
    animation: imgout 1.0s ease-in-out 0s both;
}

@keyframes sologafont {
    0% {
        opacity: 0;
        -webkit-transform-origin: 50% 50%;
        -webkit-filter: blur(1rem);
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 50% 50%;
        -webkit-filter: blur(0px);
    }
}

.slogan-font {
    animation: sologafont 1s both 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fadeIn {
    animation: fadeIn 1s both;
}

.tl-chap-ani {
    animation: fadeIn 1s both;
    animation-delay: 2s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.fadeOut {
    animation: fadeOut 1s both;
}

@keyframes logoLore {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.logoLore {
    animation: logoLore 1s both ;
}

@keyframes chapterImg {
    0% {
        margin-left: -5rem;
    }
    100% {
        margin-left: 1rem;
    }
}

.chapimgAni {
    animation: chapterImg 1s both 1s;
}

@keyframes hkLinebox {
    0% {
        bottom: 5rem;
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    100% {
        bottom: 1.35rem;
        opacity: 0;
    }
}
.linelore-ani {
    animation: hkLinebox 3.45s both infinite ease;
}

@keyframes loadingwave {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 12rem;
    }
}
.loadingWave {
    animation: loadingwave 2.54s both infinite linear;
}

@keyframes s5Patch {
    0% {background-position: 0px 0px;}
    9.09% {background-position: -125px 0px;}
    18.18% {background-position: -250px 0px;}
    27.27% {background-position: -375px 0px;}
    36.36% {background-position: -500px 0px;}
    45.45% {background-position: -625px 0px;}
    54.54% {background-position: 0px -27.84px;}
    63.63% {background-position: -125px -27.84px;}
    72.72% {background-position: -250px -27.84px;}
    81.81% {background-position: -375px -27.84px;}
    90.90% {background-position: -500px -27.84px;}
    100.0% {background-position: -625px -27.84px;}
}
.s5p {
    animation: s5Patch 1.5s both infinite steps(1);
}

@keyframes musicLine {
    0% {height: 0px;}
    25% {height: 10px;}
    35% {height: 20px;}
    75% {height: 0px};
    85% {height: 15px;}
    100% {height: 0px;}
}
.mls5 {animation: musicLine both infinite linear;}

@keyframes seasonTurnIn {
    0% {opacity: 0; transform: translateY(15px);}
    100% {opacity: 1; transform: translateY(0px);}
}
@keyframes seasonFadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes seasonFadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
.animation-season5>.title-section {
    animation: seasonTurnIn 1s both ease;
}
.animation-season5>.detail-title {
    animation: seasonTurnIn 1s both 0.5s ease;
}
.animation-season5>a.active-btn {
    animation: seasonTurnIn 1s both 0.95s ease;
}
.animation-season5>.feature-frame {
    animation: seasonTurnIn 1s both 0.25s ease;
}
.animation-season5>.btn-feature {
    animation: seasonTurnIn 1s both 0.65s ease;
}
.animation-season5>.section-content {
    animation: seasonFadeIn 1.5s both 1s ease;
}
.animation-season5>.newseason-hero {
    animation: seasonFadeIn 1.5s both 0.5s ease;
}
.animation-season5>.rot-img {
    animation: seasonFadeIn 1.5s both 0.5s ease;
}