* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: #f0f2f5;
    font-family: 'Montserrat', sans-serif;
    overflow: auto;
}
.hide {
    display: none !important;
}
.blk {
    display: block;
}
.ds {
    height: 530px !important;
}
.bw {
    background-color: #fff;
}
.uppost {
    transform: translateY(-4.75%);
}
.black {
    color: #000 !important;
}
p.noside {
    border-left: 0px transparent solid;
    border-right: 0px transparent solid;
}
.mtfp {
    margin-top: 55px;
}
.mlfp {
    margin-left: 25px;
}