h3.post-title.entry-title a {
    color: #656565;
    text-decoration: none;
}
article.post-outer-container {
    width: 45%;
    margin: 11px 12px;
    padding: 15px;
    border: 1.25px rgb(100 98 98 / 45%) solid;
    border-radius: 15px;
}
.blog-posts.hfeed.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 22px;
    transition: 0.75s ease-in-out;
}
.post-footer-line {
    display: none;
}
.jump-link.flat-button a {
    float: right;
    margin-top: 88px;
    text-decoration: none;
    color: #000;
}
.jump-link.flat-button a:hover {
    text-decoration: underline;
}
.post-body.entry-content.float-containe {
    overflow: hidden;
}
.post-body.entry-content.float-container img {
    margin-top: 6px !important;
    border-radius: 0px;
    transition: 0.45s ease-in-out;
}
.post-body.entry-content.float-container:hover img {
    border-radius: 12px;
}