/* Header CSS */
.header-box {
    font-family: 'Bricolage Grotesque', sans-serif;
    background-color: #fff;
    height: 65px;
    box-shadow: 0 0 10px #ccc;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}
.link-page {
    display: block;
    height: 65px;
    padding: 0 10px;
}
.logo-page-img {
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    transform: scale(0.65);
}
.big-menu {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    text-transform: uppercase;
}
.big-menu>li {
    margin: 0 10px;
    line-height: 65px;
    font-size: 17px;
    font-weight: 700;
}

.big-menu>li:hover>a {
    background-color: #6565651f;
    border-bottom: 5px solid #4e616d;
}
.link-menu {
    color: #656565;
    text-decoration: none;
    padding: 12px 10px;
    border-radius: 15px;
    transition: .65s ease-in-out;
}
.fa-chevron-down, .fa-up-right-from-square {
    margin-left: 5px;
}
.sub-nav {
    position: absolute;
    top: 65px;
    z-index: 3;
    transition: all .3s ease;
    overflow: hidden;
    height: 0;
    width: 250px;
}
.down-nav a {
    display: block;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
    padding-left: 10px;
    text-transform: capitalize;
    font-weight: 500;
    background: rgba(78, 97, 109, 0.8);
}
.down-nav a:hover {
    text-decoration: underline;
    background: rgba(78, 97, 109, 0.5);
}
.big-menu li:first-child:hover .sub-nav {
    height: 391px;
}
/* Mobile Menu */
.fa-bars, .fa-xmark {
    font-size: 23px;
    text-align: center;
    padding: 21px;
    transition: 0.5s ease;
}
.fa-bars:hover, .fa-xmark:hover {
    filter: brightness(1.2);
}
.mobile-down-nav {
    position: absolute;
    top: 65px;
    right: 0;
    height: 0;
    overflow: hidden;
    transition: .75s ease;
}
.mobile-down-nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 15px 25px;
    background-color: rgba(78, 97, 109, 0.8);
    transition: 0.75s ease;
    text-align: center;
}
.mobile-down-nav a::after {
    content: '';
    width: 0;
    height: 8px;
    display: block;
    background-color: #6FBEF0;
    border-radius: 20px;
    margin-top: 5px;
    transition: 0.75s ease;
}
.mobile-down-nav a:hover {
    background-color: rgba(78, 97, 109, 0.5);
}
.mobile-down-nav a:hover::after {
    width: 100%;
}

/* Banner */
.banner-box {
    margin-top: 65px;
    width: 100%;
    position: relative;
}
.music-play {
    position: absolute;
    top: 0;
    right: 0;
    width: 65px;
    height: 65px;
    margin-top: 25px;
    margin-right: 25px;
    z-index: 10;
}
.sp {
    display: block;
    width: 100%;
    height: 100%;
    background: url('/assets/img/item-img.png');
}
.btn-music {
    background-position: -13px -10px;
    background-size: 1224%;
}
.hv:hover {
    filter: brightness(1.25)
}
.off {
    background-position: -83px -10px;
}
.mspa {
    width: 100%;
    position: absolute;
    transform: translateY(-25px);
    top: 0;
}
.main-clip {
    width: 100%;
}
.linebox {
    background: url(/assets/img/linebox.png) no-repeat;
    background-size: 100%;
    background-position: top center;
    width: 55%;
    height: calc(155% * 80 / 1318);
    position: absolute;
    left: 50%;
    bottom: 13%;
    transform: translateX(-50%);
    z-index: 10; 
}
.main-img {
    width: 100%;
}

/* Center */
.center-box {
    transform: translateY(-50%);
    z-index: 30;
    position: relative;
}
.centermobile-events, .centerbig-events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.cevent {
    width: 22%;
}
.imgevent {
    width: 100%;
    filter: brightness(1.0) drop-shadow(0 0 5px gray);
    transition: .45s ease;
}
.cevent:hover .imgevent {
    filter: brightness(1.5);
    transform: scale(0.975);
}
.cevent-mobile {
    width: 20%;
    overflow: hidden;
}
.imgevent-mobile {
    width: 100%;
    transition: .45s ease;
}
.cevent-mobile:hover .imgevent-mobile {
    transform: scale(1.075);
}
/* Content */
.content-box {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.main-post {
    width: 75%;
    min-height: 1000px;
}
.side-box {
    width: 22%;
    min-height: 1000px;
}
/* Side */
.hero-popular {
    width: 100%;
    margin-top: 15px;
}
.hp-imgs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.hp-big {
    overflow: hidden;
    width: 92%;
    height: 8vw;
    margin: 9px 0;
}
.hp-imgbig {
    width: 100%;
    transition: 0.4s ease;
}
.fhp-imgs {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.hp-small {
    overflow: hidden;
    width: 20%;
    height: 125px;
    margin: 9px 0;
    display: inline-block;
}
.hp-imgsmall {
    height: 100%;
    transition: 0.4s ease;
}
.hp-small:hover .hp-imgsmall, .hp-big:hover .hp-imgbig {
    transform: scale(1.115);
}
.hp-title {
    background: url('/assets/img/main-btn.png') no-repeat;
    width: 100%;
    height: 4vw;
    background-size: 287%;
    background-position: -41vw -3.2vw;
    transition: 0.4s ease-in-out;
}
.stp {
    display: block;
    position: relative;
    cursor: pointer;
}
.hpt {
    font-weight: 700;
    background-image: linear-gradient(to bottom, #6FBEF0, #fff );
    background-clip: text;
    color: transparent;
    top: 50%;
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    filter: drop-shadow(0px 1px 6px gray);
    font-size: 1.275vw;
}
.stp:hover .hp-title {
    filter: brightness(0.85) drop-shadow(0px 1px 6px #3d3d3d69);
}
.rotb {
    width: 100%;
    margin-top: 35px;
    overflow: hidden;
}
.center-rotb, .top-rotb, .bot-rotb {
    width: 95%;
    position: absolute;
    overflow: hidden;
}
.top-rotb {
    z-index: 20;
}
.center-rotb {
    z-index: 10;
}
.herop {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 30px;
}
.hk-ph {
    position: relative;
    margin-top: 25px;
    width: 85%;
}

.hk-icon {
    display: flex;
    justify-content: space-evenly;
    z-index: 30;
    position: relative;
}

.hk-img {
    background: url(/assets/img/main-btn.png) no-repeat;
    height: 60px;
    width: 100%;
    background-size: 800%;
    filter: grayscale(1);
    transition: 0.35s ease-in-out;
}

.hkbox:hover {
    cursor: pointer;
}

.hkbox:hover .hk-img {

    filter: grayscale(0);
    transform: translateY(-7.5px);
}

.hkbox-touch {
    transform: translateY(-7.5px);
    filter: grayscale(0);
}

#hk-icon-0 {
    background-position: -2px -88px;
}

#hk-icon-1 {
    background-position: -68px -91px;
    background-size: 1000%;
}

#hk-icon-2 {
    background-position: -120px -86px;
}

#hk-icon-3 {
    background-position: -208px -100px;
}

#hk-icon-4 {
    background-size: 950%;
    background-position: -272px -94px;
}

#hk-icon-5 {
    background-position: -315px -86px;
}

/* Footer */
.footer-box {
    background: linear-gradient(0deg, rgba(255,255,255,1) 69%, rgba(240,242,245,1) 100%);
    margin-top: 30px;
}
img.mapimg {
    width: 200px;
    filter: brightness(0.62) hue-rotate(283deg) contrast(0.95);
}
.social-nets, .network-dis {
    display: flex;
    flex-wrap: wrap;
}
.social {
    background-color: rgba(111, 125, 134, 0.25);
    margin: 10px 12px;
    padding: 7px 15px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: #656565;
    text-decoration: none;
    width: 200px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 3px;
}
.isocial {
    font-size: 17px;
    float: inline-start;
}
.social::after {
    content: "";
    background: #656565;
    width: 0px;
    height: 2px;
    display: flow;
    margin-top: 3px;
    border-radius: 4px;
    transition: .85s ease-in-out;
}
.social:hover:after {
    width: 100%;
}
.linef {
    width: 95%;
    margin: auto;
    height: 4.5px;
    background-color: rgba(101, 101, 101, .65);
    border-radius: 50px;
}
.content-footer {
    display: flex;
    margin-top: 35px;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}
.webmean, .downfooter {
    width: 50%;
}
.para-web {
    color: #6F7D86;
    font-size: 15px;
    font-weight: lighter;
}
.downfooter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.downbox {
    margin: 0 17px;
}
.linkdown {
    position: relative;
}
.idown {
    width: 124px;
    height: 37px;
}
.titledown {
    font-size: 18px;
    font-weight: bolder;
    color: rgb(78, 97, 109);
    margin-bottom: 5px;
    text-transform: uppercase;
}
.icondown {
    width: 100%;
    display: flex;
    justify-content: center;
}
.webauthor {
    font-weight: bold;
    text-align: center;
    display: block;
    color: rgb(101, 101, 101);
    padding-bottom: 7.5px;
}