@media screen and (max-width: 1019px) {
    .hk-img, .side-box, .menu-lag {display: none;}
    .header-box {justify-content: space-between;width: 100vw;}
    .uppost {transform: translateY(-1.75%);}
    .main-post {width: 95%;}
    .rotb {margin-top: 10px;}
    .hk-ph {width: 100%;}
    .titlehk {
        border: 1.5px #ccc solid;
        padding: 6px 7px;
        margin: 0 10px;
        font-size: 9px;
        text-transform: uppercase;
        text-align: center;
        color: #9a9696;
        font-weight: bold;
        transition: .35s ease-in-out;
    }
    .titlehk:hover {
        color: #000;
    }
    .fei {
        animation-delay: 1s;
    }
}
@media screen and (max-width: 1019px) and (min-width: 600px){
    .mobile-down-nav {width: 40%;}
    .uppost {transform: translateY(-1.75%);}
    .centermobile-events {display: none;}
}
@media screen and (max-width: 600px) {
    .mobile-down-nav {width: 100%;}
    .music-play {width: 40px;height: 40px;margin-top: 15px;margin-right: 15px;}
    .off {background-position: -9px -6px;}
    .btn-music {background-position: -9px -6px;background-size: 1224%;}
    .logo-page-img {transform: scale(0.5);padding: 0;}
    .link-page {padding: 0;margin-left: -30px;}
    .uppost {transform: translateY(0);}
    .centerbig-events {display: none;}
    .center-box {transform: translateY(0);}
    .container-box {margin-top: 24px;}
}
@media screen and (min-width: 1019px) {
    .centermobile-events,.mobile-menu {display: none;}
}