@media screen and (max-width: 970px){
    .header-box {
        justify-content: space-between;
    }
    .side-bar, .menu {
        display: none;
    }
    .slider-bar-down {
        width: 100%;bottom: 3%;
    }
    .main-content {
        width: 100%;
        margin-right: 0;
    }
    .download-btn, .report-center-btn {
        width: 80%;
        transform: translate(-50%, 0);
        left: 50%;
        text-align: center;
    }
    .download-btn {
        bottom: 10%;
    }
    .report-center-btn {
        bottom: 25%;
    }
    .light-move1, .light-move2 {
        width: 600px;
    }
    
}
@media screen and (max-width: 615px) {
    .footer-content {
        display: block;
        padding-top: 5px;
    }
    .contact-info {
        margin-left: auto;
        width: 100%;
        margin-right: auto;
        text-align: center;
        margin-top: 0;
    }
    .content-footer {
        display: block;
        text-align: center;
        width: 100%;
    }
    .content-footer>p {
        margin: 0 30px;
    }
    .slider-btn {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 25px;
        right: 20px;
    }
    .continute-play-music, .stop-play-music {
        height: 30px;
        background-size: 920%;
    }
    .stop-play-music {
        background-position: -235px -147px;
    }
    .continute-play-music {
        background-position: -199px -147px;
    }
    .music-play-animation {
        width: 30px;
        height: 20px;
        top: 15px;
        right: 20px;
    }
    .download-btn {
        font-size: 16px;
        padding: 10px;
        bottom: 20%;
    }
    .report-center-btn {
        display: none;
    }
    .containter, .center {
        transform: translateY(0vh);
    }
    .center {
        padding: 2vh 0;
    }
    .center-link {
        width: 45%;
        margin: 0 5px;
    }
    .containter {
        padding-top: 2vh;
    }
}
@media screen and (min-width: 971px){
    .mobile-menu {
        display: none;
    }
}