body {
    overflow-x: hidden !important;
}body::-webkit-scrollbar {
    width: 0px;
}
.rotate-screen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #161616;
    display: none;
    justify-content: center;
    align-items: center;
}
.rotate-screen img {
    height: 100vh;
}
.header {
    width: 100vw;
    position: relative;
}
.video, img.thumnail {
    width: 100vw;
}

.header-bar {
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
.header-bar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.header-video {
    display: flex;
}
.left-header, .right-header{
    display: flex;
    align-items: center;
    margin: 1%;
}
.music-season5, .link-patch {
    margin: 0 1rem;
}
.homepage a {
    display: block;
    height: 40px;
    width: 124px;
    background: url('/assets/img/season/detail.png') no-repeat;
    background-size: 259%;
    background-position: -12px -242px;
}
a.link-to-patch {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Bricolage Grotesque', sans-serif;
    text-transform: uppercase;
    background: url(/assets/img/more-btn.png) center no-repeat;
    background-size: 600%;
    background-position: 0px 0px;
    width: 125px;
    height: calc(125px*(51 / 229));
    display: flex;
    justify-content: center;
    align-items: center;
}
a.link-to-patch span {
    background: linear-gradient(to bottom, #572234, #ca3866);
    background-clip: text;
    color: transparent;
    font-size: 15px;
}
.music-season5 {
    display: flex;
    width: 40px;
    height: 40px;
    background: url('/assets/img/season/detail.png') no-repeat;
    background-size: 908%;
    background-position: -24px -225px;
    justify-content: center;
    transform: rotate(180deg);
    cursor: pointer;
}
.music-line {
    width: 3px;
    background: linear-gradient(to bottom, #572234, #ca3866);
    transform: translateY(10px);
    margin: 0 1.5px;
}
.download-box {
    width: 100px;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 15px;
    background: url('/assets/img/season/detail.png') no-repeat;
    background-size: 402%;
    background-position: -293px 6px;
}
#ml1 {
    animation-duration: 2.75s;
    animation-delay: 0s
}
#ml2 {
    animation-duration: 1.3s;
    animation-delay: 0.75s
}
#ml3 {
    animation-duration: 1.25s;
    animation-delay: 1s
}
#ml4 {
    animation-duration: 2s;
    animation-delay: 0.25s
}
.content {
    background: url('/assets/img/season/bgs5.jpg') 0 0/ cover no-repeat;
    width: 100vw;
}
.title-section {
    display: block;
    width: calc(100vw/2.34);
    height: calc(100vw/13.47);
    position: absolute;
    top: 8%;
    right: 8%;
    background: url('/assets/img/season/detail.png') no-repeat;
    background-size: 135%;
}
.detail-title {
    display: block;
    width: 32%;
    height: calc((100vw* 0.4)* 0.065);
    position: absolute;
    top: 20%;
    right: 0;
}
.active-btn {
    display: block;
    width: 25%;
    height: calc((100vw* 0.4)* 0.15);
    position: absolute;
}
.section1 {
    position: relative;
    width: 100vw;
    height: calc((100vw * 1590)/1920);
}
.section1>.title-section {
    background-position: 0px -8px;
}
.section1>.detail-title{
    background: url('/assets/img/season/dt1.png') 0 0 / contain no-repeat;
}
.section1>.section-content {
    display: block;
    width: 30%;
    height: calc((100vw* 0.4)* 0.36);
    background: url('/assets/img/season/s1text.png') 0 0 / contain no-repeat;
    position: absolute;
    top: 35%;
    right: 18%;
}
.section1 #s1-heroskill{
    top: 63%;
    right: 18%;
    background: url('/assets/img/season/s1_btn1.png') 0 0/ contain no-repeat;
}
.section1 #s1-videohero {
    top: 73%;
    right: 18%;
    background: url('/assets/img/season/s1_btn2.png') 0 0/ contain no-repeat;
}
.newseason-hero {
    height: 100%;
}
.section2 {
    position: relative;
    width: 100vw;
    height: calc((100vw * 1325)/1920);
}
.section2 .title-section {
    background: url('/assets/img/season/tls2.png') 32px 13px / contain no-repeat;
    background-size: 90%;
}
.section2>.detail-title {
    right: calc((100vw* 75) / 1000);
    background: url('/assets/img/season/dt2.png') 0 0 / contain no-repeat;
}
.section2>.section-content{
    display: block;
    width: 23%;
    height: calc((100vw* 0.4)* 0.32);
    background: url('/assets/img/season/s2text.png') 0 0 / contain no-repeat;
    position: absolute;
    top: 53%;
    right: 18%;
}
.section2 #s2-skinseason {
    top: 73%;
    right: 18%;
    background: url('/assets/img/season/s2_btn.png') 0 0/ contain no-repeat;
}
.section2 .video-box {
    transform: translateY(30%);
}
.section3 {
    position: relative;
    width: 100vw;
    height: calc((100vw * 1590)/1920);
}
.section3 .rot-img {
    width: 100%;
    height: 53%;
    position: relative;
    transform: translateY(40%);
}
.section3 .rot-img>img {
    width: 100%;
}
.section3 .title-section {
    background: url('/assets/img/season/tls3.png') 32px 13px / contain no-repeat;
    background-size: 90%;
    right: 28%;
}
.section3>.detail-title {
    left: 0;
    background: url('/assets/img/season/dt3.png') 0 0 / contain no-repeat;
}
.section3 #s3-newskin {
    bottom: 17%;
    left: 40%;
    background: url('/assets/img/season/s3_btn.png') 0 0/ contain no-repeat;
}
.section3 .video-box {
    transform: translateY(22%);
}
.section4 {
    position: relative;
    width: 100vw;
    height: calc((100vw * 1590)/1920);
}
.section4>.title-section {
    background: url('/assets/img/season/tls4.png') 32px 13px / contain no-repeat;
    background-size: 90%;
    right: 28%;
    top: 5%;
}
.section4>.feature-frame {
    width: 80%;
    height: calc((80vw* 812) / 1629);
    position: absolute;
    top: 15%;
    left: 9%;
}
.section4 .feature-label {
    background: url('/assets/img/season/layout-feature.png') 0 0/contain no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
}
.section4 .feature-box {
    width: 97%;
    position: absolute;
    bottom: 0;
    height: 96%;
}
.section4>.feature-box {
    width: 97%;
    height: 95%;
    transform: translateY(5%);
}
.section4 img.feature-item {
    width: 100%;
    height: 100%;
}
.section4 .btn-feature {
    display: flex;
    width: 85%;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    bottom: 15%;
    left: 8%;
}
.section4 .active-feature {
    display: block;
    margin: 0.5rem;
    width: 30%;
    height: calc((100vw * 25.5)/458);
    cursor: pointer;
}
.section4 #btn-active-feature1 {
    background: url('/assets/img/season/label1.png') 0 0 / cover no-repeat;
}
.section4 #btn-active-feature2 {
    background: url('/assets/img/season/label2.png') 0 0 / cover no-repeat;
}
.section4 #btn-active-feature3 {
    background: url('/assets/img/season/label3.png') 0 0 / cover no-repeat;
}
.section4 #btn-active-feature4 {
    background: url('/assets/img/season/label4.png') 0 0 / cover no-repeat;
}
.section4 #btn-active-feature5 {
    background: url('/assets/img/season/label5.png') 0 0 / cover no-repeat;
}
/* Animation */
.rot-img, .newseason-hero, .section-content, .detail-title, a.active-btn, .title-section {
    animation: seasonFadeOut 1s both 0.75s ease;
}
/* Video Box */
.label-video {
    position: relative;
    width: 100vw;height: 100dvh;
}
.video-season {
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.video-box {
    width: 100%;
    height: 75%;
    transform: translateY(45%);
}
i.close-video {
    display: block;
    width: 6%;
    height: calc(100vw* 0.06);
    background: url('/assets/img/season/close_video_btn.png') 0 0/contain no-repeat;
    float: right;
    margin-right: 3%;
    cursor: pointer;
}
.place-video {
    width: 75%;
    height: calc(100vw* 0.4);
    top: calc(100vw* 0.06);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.place-video::after {
    content: "";
    display: block;
    background: linear-gradient(to top, #bd4562, #67263a);
    width: 100%;
    height: 100%;
    top: -3px;
    position: absolute;
    padding: 0px 0 6px 0;
}
.place-video iframe {
    position: absolute;
    top: 0;
    z-index: 100;
}
@media screen and (max-width: 599px) {
    .rotate-screen {
        display: flex;
    }
}
